<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="container">
     <div class="card">
        <div class="card-img"><img src="/img/sketch-project.png"/></div>
        <div class="details">
            <h3><b>Collaborative Sketch Web APP</b></h3>
            <p>It is project multiple people can connect and draw on board</p>
            <a href="http://collaborative-sketch-web-app.herokuapp.com/" target="_blank">Link</a>
        </div>
     </div>
   </div>
</body>
</html>